{% extends "network/layout.html" %}

{% block body %}
    <h1>Following</h1>
    {% if posts%}
    {% for post in posts%}
    <div class="post" id="post-{{ post.id }}">
        <p id="content-{{ post.id }}">{{ post.content }}</p>
        <a href="{% url 'profile' post.creator.username %}">{{ post.creator }}</a>
        <p>{{ post.time }}</p>
        <div>
            <button class="like-btn" data-id="{{ post.id }}">
                {% if user in post.likes.all %}
                    Unlike
                {% else %}
                    Like
                {% endif %}
            </button>

            <span id="likes-{{ post.id }}">
                {{ post.likes.count }}
            </span> likes
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>Start following people.</p>
    {% endif%}
    {% if posts.paginator.num_pages > 1 %}
    <div class="pagination">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">Previous</a>
        {% endif %}

        <span>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">Next</a>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}