{% if posts.paginator.num_pages > 1 %}
<nav aria-label="Page navigation example" class="mt-4">
  <ul class="pagination justify-content-center">

    {# Previous #}
    {% if posts.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
    {% endif %}

    {# Numbers #}
    {% for num in posts.paginator.page_range %}
      {% if num == posts.number %}
        <li class="page-item active">
          <span class="page-link">{{ num }}</span>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {# Next #}
    {% if posts.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Next</span>
      </li>
    {% endif %}

  </ul>
</nav>
{% endif %}